<div class="m-5">
    {{ form_start(form) }}
        {{ form_widget(form) }}
    </div>
    <button class="profile-edit-btn ml-5 px-4 py-1 btn-vaadd-orange">{{ button_label|default('Enregister') }}</button>
{{ form_end(form) }}
