{% extends 'base.html.twig' %}

{% block title %}New Plant{% endblock %}

{% block body %}
    <h1>L'évènement est terminé !</h1>
    <p>Revenez l'an prochain !</p>

    <a href="{{ path('app_index') }}">Retour à l'accueil</a>
{% endblock %}
